<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div class="header">
  <h1>HEADER</h1>
</div>
<div class="clearfix">
  <div class="column menu">
    <ul>
      <li>Menu 1</li>
      <li>Menu 2</li>
      <li>Menu 3</li>
      <li>Menu 4</li>
    </ul>
  </div>

  <div class="column content">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
        Dolore suscipit iusto magnam dignissimos, tenetur accusantium nisi? 
        Quasi repellat temporibus quia accusantium explicabo, ducimus esse earum, 
        architecto quam, facere debitis repudiandae!
    </p>
    <p>Delectus quas vel neque dolor voluptatem a maiores doloremque enim, 
        distinctio dolorem quae, adipisci ab consequuntur error laborum 
        repellat doloribus? Nostrum, sapiente quibusdam debitis porro dolor 
        adipisci pariatur minima omnis?
    </p>
    <p>Fugiat amet, veniam cum ex deleniti eius? Officia quis 
        provident molestias quaerat, voluptas ab eaque adipisci 
        sed quia harum, nam, soluta amet nobis ipsa natus animi 
        laudantium cupiditate qui eligendi?</p>
  </div>
</div>

<div class="footer">
  <p>Contattaci al numero 3331234567</p>
</div>

</body>
</html>


