h1{
    border:3px solid #e9c46a;
    border-radius: 15px;
    text-align: center;
    background-color: #457b9d;
    color: darkred;
}
.div1{
    border-style: solid dashed dotted double;
    border-width: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size:medium;
}
.one{
    border-style: solid;
    border-width: 5px 20px; /* 5px top e bottom, 20px left e right */
}
.two{
    border-style: solid;
    border-width: 20px 5px; /* 20px top  bottom, 5px left e right */
    border-color: #ffba08 #d00000 #e85d04 #fb8500;
    background-color: #adb5bd;
    color:black;
}
.three{
    border-left: 6px solid red;
    background-color: lightgrey;
    color:black;
}
.uno{
    border: 5px solid #fca311;
    margin: 25px 25px 100px 25px;
}
.due{
    border: 5px solid #343a40
}
#p1{
  background-color: chartreuse;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  padding: 50px 25px 50px 25px;/*--top right bottom left*/
  border:3px solid #b56576
}