/*--La proprietà flex-wrap specifica se gli elementi flex (flex-items)
    devono andare a capo o meno.*/
.flex-container1{
         display: flex;
         background-color: darkgreen;
         flex-wrap:wrap;
     }
.flex-container1 > div {
         background-color: goldenrod;
         width: 100px;
        margin: 10px;
        text-align: center;
        line-height: 75px;
        font-size: 30px;
     }
.flex-container2{
        display: flex;
        background-color: darkgreen;
        flex-wrap: nowrap;
    }
.flex-container2 > div {
        background-color: goldenrod;
        width: 100px;
        margin: 10px;
        text-align: center;
        line-height: 75px;
        font-size: 30px;
    }
.flex-container3{
        display: flex;
        background-color: darkgreen;
        flex-wrap: wrap-reverse;
    }
.flex-container3 > div {
        background-color: goldenrod;
        width: 100px;
        margin: 10px;
        text-align: center;
        line-height: 75px;
        font-size: 30px;
    }
.flex-container4{
        display: flex;
        background-color: darkgreen;
        flex-flow: row wrap;
    }
.flex-container4 > div {
        background-color: goldenrod;
        width: 100px;
        margin: 10px;
        text-align: center;
        line-height: 75px;
        font-size: 30px;
    }
    /*--La proprietà flex-flow è una proprietà 
        abbreviata per l'impostazione delle proprietà 
        flex-direction e flex-wrap.*/
h1{text-align: center;background-color: coral;border: 1px solid black;}
h1.header{text-align: center;background-color: yellow;border: 1 px solid red;}