.flex-container1{
    display: flex;
    background-color: darkgreen;
    height: 200px;
    align-items:center;
}
.flex-container1 > div {
    background-color: goldenrod;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}
.flex-container2{
   display: flex;
   background-color: darkgreen;
   height: 200px;
   align-items: flex-start;
}
.flex-container2 > div {
   background-color: goldenrod;
   width: 100px;
   margin: 10px;
   text-align: center;
   line-height: 75px;
   font-size: 30px;
}
.flex-container3{
   display: flex;
   height: 200px;
   background-color: darkgreen;
   align-items: flex-end;
}
.flex-container3 > div {
   background-color: goldenrod;
   width: 100px;
   margin: 10px;
   text-align: center;
   line-height: 75px;
   font-size: 30px;
}
.flex-container4{
   display: flex;
   background-color: darkgreen;
   height: 200px;
   align-items: stretch;
}
.flex-container4 > div {
   background-color: goldenrod;
   width: 100px;
   margin: 10px;
   text-align: center;
   line-height: 75px;
   font-size: 30px;
}
.flex-container5{
   display: flex;
   background-color: darkgreen;
   height: 200px;
   align-items:baseline;
}
.flex-container5 > div {
   background-color: goldenrod;
   width: 100px;
   margin: 10px;
   text-align: center;
   line-height: 75px;
   font-size: 30px;
}
h1{text-align: center;background-color: coral;border: 1px solid black;}